.container {
    width: 100%;
    min-width: 50rem;
    height: 100vh;
    min-height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: $color-4;

    & > * {
        min-width: 50rem;
    }
    & > *:not(:first-child) {
        box-shadow: 0 0 2rem .5rem $color-2;
    }

    @media only screen and (max-width: 1200px) {
        height: auto;
        padding: 2rem;
    }
}

.title-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    text-align: center;
}


.weather-box {
    height: 50%;
    min-height: 40rem;
    width: 50%;
    background-color: lighten($color-2, 10%);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 1px solid $color-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & > * {
        text-transform: uppercase;
    }

    &__country {
        height: 30%;
        min-height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-name {
            font-size: 5rem;
            color: $color-4;
            text-align: center;

            @media only screen and (max-width: 1900px) {
                font-size: 4rem;
                margin-top: 2rem;
            }
            @media only screen and (max-width: 1200px) {
                font-size: 5rem;
                margin-top: 0;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }

    &__weather {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .temperature {
            font-size: 10rem;
            color: $color-4;
        }

        .icon-box {
            width: 10rem;
            height: 10rem;

            .icon {
                width: 10rem;
                height: 10rem;
            }
        }

    }
}

.flag-box {
    height: 20%;
    min-height: 18.7rem;
    width: 50%;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: $color-3;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3rem 1fr;
    grid-column-gap: 1rem;
    justify-items: center;
    align-items: center;
    pointer-events: none;

    &:hover &__flag {
        transform: scale(.6);
    }

    &__title {
        grid-column: 1 / -1;
    }

    &__flag-description {
        color: $color-1;
        font-weight: 900;
        font-size: 1rem;
        opacity: 0;
        transition: opacity .1s .25s;
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: auto;
    }
}

.flag-box__flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;

    transition: transform .25s .1s;

    &:hover {
        transform: scale(1.5) !important;
    }
    &:hover .flag-box__flag-description {
        opacity: 1;
    }
}

.flag-img {
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.flag-img {
    width: 100%;
}