.heading-1 {
    font-size: 4rem;
    color: $color-2;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-2 {
    font-size: 2rem;
    color: $color-2;
    text-transform: uppercase;
    letter-spacing: 1px;
}
